.mainBlock{
    height: 100vh;
    background-color: #fdcae1;
}

.greet{
    width: 300px;
    background-color: #ffe5f0;
}
.photo{
    width: 300px;
    height: 400px;
    background-color: #ffe5f0;
}

/*@media screen and (min-width: 360px) {*/
/*    .mainBlock{*/
/*        display: flex;*/
/*        height: 60vh;*/
/*        flex-direction: column;*/
/*        flex-wrap: wrap;*/

/*    }*/
/*    .greet{*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*    .photo{*/
/*        height: 200px;*/
/*        border: 1px solid;*/
/*    }*/

/*}*/

