$--e-global-color-primary: #08708A;
$--e-global-color-secondary: #FFFFFF;
$--e-global-color-text: #EBECED;
$--e-global-color-accent: #D73A31;
$--e-global-color-dea41e4: #56B1BF;
$--e-global-color-a185853: #032B2F;
$--e-global-color-308e809: #020E0F;
$--e-global-color-a291686: #A2AAB0;
$--e-global-color-91455cb: #D0D3C5;
$--wp--preset--color--black: #000000;
